<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    
    <system.diagnostics>
        <sources>
            <source name="AFKWindowsService" switchValue="Verbose,ActivityTracing">
                <listeners>
                    <add type="System.Diagnostics.DefaultTraceListener" name="Default">
                        <filter type="" />
                    </add>
                    <add name="AWSELListener">
                        <filter type="" />
                    </add>
                </listeners>
            </source>
        </sources>
        <sharedListeners>
            <add type="System.Diagnostics.EventLogTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                name="AWSELListener" traceOutputOptions="LogicalOperationStack, DateTime, Timestamp, ProcessId, ThreadId, Callstack">
                <filter type="" />
            </add>
        </sharedListeners>
    </system.diagnostics>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_IService" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.10.153:8081/AFKAPI/AFKHostedService.svc"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IService"
                contract="ServiceReference1.IService" name="WSDualHttpBinding_IService">
                <identity>
                    <servicePrincipalName value="host/VMIntern4.fofx.co.za" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>